// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app{
    flex: 1 0 auto;
}


#sticky-footer {
    flex-shrink: none;
}
html,
body {
    height: 100%;
}

body.dark-mode{
    .card{
        background-color: #343a40!important;
        color: white;
    }
    background: #333;
    color: white;
    small, th, td, .text-secondary{
        color: #fff!important;
    }
}

#answer.hidden{
    display: none;
}
